@use "../abstracts/index" as *;

.footer {
    background-color: var(--primary-7);

    &__left {
        padding-top: 37px;

        img {
            max-width: 100%;
            height: auto;
            transform: scale(1);
            vertical-align: middle;
        }
    }

    &__right {
        display: block;
        margin-top: 23px;
        margin-bottom: 23px;
        padding-top: 23px;
        border-top: 1px solid var(--primary-1);
        gap: 20px;
    }

}

.footer__bottom-item--right {
    display: flex;
    align-items: end;
}

.footer__bottom-item--left {

    margin-bottom: 10px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .footer__info-item {
        a {
            color: var(--primary-1);

            span {
                font-weight: bold;
                margin-right: 5px;
            }
        }
    }
}

.footer__links {
    .footer__links-item {
        color: var(--primary-1);

        span {
            font-weight: bold;
        }
    }
}
@media (min-width: 1301px) {

    .footer__bottom-item--left {
        width: 100% !important;
        margin-bottom: 0 !important;
    }

}
@media (min-width: 1201px) {
    .footer__right {
        display: flex;
        justify-content: space-between;
    }

    .footer__bottom-item--left {
        width: 150%;
        margin-bottom: 0 !important;
    }

}



@media (min-width: 992px) {
    .footer__right {
        margin-top: 160px; // desktop mới có margin lớn
    }

}

// @media (max-width: 991px) {
//     .footer__right {
//         margin-top: 23px !important;

//     }

//     .footer__left {
//         margin-top: 20px;
//     }

//     .footer__bottom-item--left {
//         width: auto !important;
//     }
// }

// @media (max-width: 767px) {
//     .footer__right {
//         margin-top: 23px !important;
//         display: block !important;
//     }

//     .footer__bottom-item--left {
//         margin-bottom: 10px;
//     }
// }