$font-main: "Archivo", sans-serif;

$fontIcon: "icomoon";

:root {
    //main color
    --primary-1: #496B5F;
    --primary-2: #F2EADB;
    --primary-3: #A69889;
    --primary-4: #B6D1C1;
    --primary-5: #D8A17C;
    --primary-6: #60869D;
    --primary-7: #E6C896;



    //text color
    --text-body: #FFFFFF;
    --color-1: #000000;
    // --text-color-3: #CDB9A4;
    // --dark-5: #E8E8E6;




    // --dark-6: #1F1E17;
    // --dark-7: #333334;
    // --text-color-5: #CCCCCC;
    // --text-color-6: #000000;

    // --white-1: #F6F6F6;
    // --white-2: #FFFFFF;

    // //natural color
    // --white-3: #F8F8F8;
    // --white-4: #F4F9FD;
    // --natural-1: #D9D9D9;
    // --natural-2: #F2F0EC;

    // // line
    // --line-1: rgba(255, 255, 255, 0.1);

    // --black: #000000;
    // //rgba

}